*.db
*.pyc
*.gexf
*.jpg
*.jpeg
node_modules/
.ipynb_checkpoints/
venv/
unknown_venues_*
.idea/
old_code/
old_databases/
output_keywords/
output_queries/
parse_requests/
query_window.spec
renew_data.sh
aip-logs/
/backend/db.sqlite3
build/
data/
__pycache__
.DS_Store
*.tar
/neodata/databases/neo4j/
